@media screen and (max-width:1000px){

* { margin: auto;
   text-align: center;
  
}

header{
    justify-content: space-between;

    margin-left:none;
}
.main h1{
    font-size: 22px;
    width: 300px;
    margin-bottom: 1px;
}

.main h2{
    font-size:18px;
    width: auto;
    text-align: center;
    margin-bottom: 1px;
}


.main p{
    font-size: 14px;
    text-align: center;
    width: 300px;
}

.femail{
    width: 350px;
    height: 20px;
    display: flex;
    flex-direction: column;
}

.femail input{
    padding: 15px;
}

button{
    margin-top: 10px;
    padding: 12px;
    border-radius: 2px;
    font-size: 14px;
    width: 130px;
}


.tv , .cel , .teletv , .des{
    display: flex;
    flex-direction: column;
 margin: auto;
 margin-left: 0%;
 padding: 0;
    
}

img{
    width:400px
}

.tv video{
    width:340px;
    height:320px;

}

.teletv video{
   
    width:250px;
    height:165px;
    right:30%;
    margin-top: 10px;
}

.tv p , .cel p , .teletv p , .des p{
    width: 300px;
}

.cel h2{
    width: 300px;
}

h2{
    font-size: 30px;
   
}

p{
    font-size: 16px;
    margin-top: 20px;
 
}


}